* {
    padding: 10px;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    background-color: green;

}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: blue;
    color: white;
}
.navv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}