
h1 {
    text-align: center;
}

form {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea { 
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="button"],
input[type="reset"],
button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="button"]:hover,
button:hover {
    background-color: #0056b3;
}

/* Tabela de Estoque */
table {
  
   
   
}

th, td {
    
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
   
    background-color: white;
}

/* Estilos para o botão de limpar estoque */
button {
    background-color: #d9534f;
    margin-top: 10px;
}

button:hover {
    background-color: #c9302c;
}
